name: Publish a Docker Image

on:
  release:
    types: [published]
  workflow_dispatch:


jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:

    - name: Set up Docker Buildx
      id: setup-docker-buildx
      uses: docker/setup-buildx-action@v2
    - name: Login to DockerHub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
    - name: Build and push
      uses: docker/build-push-action@v3
      with:
        file: docker/Dockerfile
        # TODO: fix this so it isn't hardcoded
        build-args: opensearch_version=2.2.1 ltrversion=2.0.0
        push: true
        tags: gsingers/opensearch-learning-to-rank
        github-token: ${{ secrets.GITHUB_TOKEN }}